/*===== HEADER =====*/
header {
    display: flex;
    padding: 20px 75px 0;
    height: 102px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#menu {
    padding: 20px 0 0;
}

.headerButton {
    width: 100%;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.headerButton:hover {
    border-top: 3px solid transparent;
    border-bottom: 3px solid var(--first-color);
    border-bottom-width: 2px;
}
/*===== TITLES & nav =====*/

#search {
    padding: 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*===== Filter =====*/

#filter{
    flex-direction: column;
    align-items: flex-start;
}

#filter h2 {
    text-align: start;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*===== Hebergements =====*/

#firstSection {
    display: flex;
    flex-direction: column;
    height: 1100px;
    gap: 0;
}

#city {
    order: 1;
    background-color: white;
}

#city .cardContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

/*===== Populaire =====*/

#popular {
    border-radius: 0px 0px 0px 0px;
    height: 40%;
}

#popular .cardContainer {
    flex-direction: column;
    height: 80%;
}