@import url("https://fonts.google.com/specimen/Raleway");

:root {
    /*===== COLORS =====*/
    --first-color: #0065FC;
    --second-color: #DEEBFF;
    --background-color: #F2F2F2;
    /*===== Tipo =====*/
    --body-font: 'Raleway', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

header {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

#menu {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    gap: 25px;
}
#logo {
    width: 61px;
    height: 19px;
}

.headerButton {
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}

.headerButton:hover {
    color: var(--first-color);
    padding-top: 10px;
    transition-duration: 0.01s;
    border-top:3px solid var(--first-color);
    border-top-width: 2px;
}
