@import url("https://fonts.google.com/specimen/Raleway");

:root {
    /*===== COLORS =====*/
    --first-color: #0065FC;
    --second-color: #DEEBFF;
    --background-color: #F2F2F2;
    /*===== Tipo =====*/
    --body-font: 'Raleway', sans-serif;
    --normal-font-size: .838rem;
    --smaller-font-size: .75rem;
}

* {
    font-size: var(--normal-font-size);
}

body {
    font-family: var(--body-font);
    margin: 0;
    padding: 0 50px;
    font-size: var(--normal-font-size);
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 120%;;
}

/*===== HEADER =====*/

header {
    display: flex;
    padding: 0 75px 0;
    height: 102px;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 61px;
    height: 19px;
}

#menu {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.headerButton {
    color: black;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition-duration: 0.3s;
    cursor: pointer;
    padding: 0 20px 0;
    height: 100%;
    border-top: 3px solid transparent;
}

.headerButton:hover {
    color: var(--first-color);
    border-top: 3px solid var(--first-color);
    border-top-width: 2px;
}

/*===== TITLES & nav =====*/

#search {
    padding: 0 75px 0;
    display: flex;
    flex-direction: column;
}

#searchBar {
    height: 40px;
    display: flex;
}

form {
    /*width: 90px;*/
    height: 40px;
    display: flex;
}

form input {
    flex: 1;
    border: none;
    outline: none;
}

form button {
    background: var(--first-color);
    color: white;
    cursor: pointer;
    padding: 10px 10px;
    outline: none;
    border-radius: 0 13px 13px 0;
    border: 2px solid var(--first-color);
}

form .fa-location-dot {
    background: var(--background-color);
    padding: 10px 15px;
    border-radius: 13px 0 0 13px;
    border: 2px solid var(--background-color);
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
}

#titles h1 {
    margin-bottom: 5px
}

#titles #subtitle {
    display: block;
    margin-bottom: 20px;
}

/*===== Filter =====*/

#filter {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

#filter h2 {
    font-size: 119%;
    margin-right: 20px;
}

#buttons {
    display: flex;
    gap: 20px;
}

#buttons .filterButton {
    color: black;
    text-align: center;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 18px 18px 18px 18px;
    border: 2px solid lightgray;
    display: flex;
    text-decoration: none;
}

#buttons .filterButton i {
    color: var(--first-color);
}

#buttons .filterButton:hover {
    background-color: rgba(0, 101, 252, 0.3);
}

#buttons .filterButton .text {
    padding: 0 10px;
}

#info {
    display: flex;
    flex-direction: row;
    margin: 10px 0 10px;
    gap: 5px;
    align-self: flex-start;
    align-items: flex-start;
}

/*===== FirstSection =====*/

#firstSection {
    padding: 0 75px 0;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    height: 50rem;
}

#city {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--background-color);
    border-radius: 18px 18px 18px 18px;
    flex-wrap: wrap;
    width: 65%;
    height: 100%;
}

.cardContainer {
    display: flex;
    flex-direction: row;
}

.card {
    width: 220px;
    height: auto;
    background: white;
    margin-bottom: 40px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.062);
    transition: 0.8s;
    padding-bottom: 10px;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 120px;
    border-radius: 20px 25px 0 0;
    padding-right: 10px;
    margin: 5px 0 0 5px;
}

.cardInfo {
    margin-left: 15px;
    line-height: 25px;
}
